Entregable Kubernetes/Vagrant/.vagrant/machines/default/virtualbox/action_provision
Entregable Kubernetes/Vagrant/.vagrant/machines/default/virtualbox/action_set_name
Entregable Kubernetes/Vagrant/.vagrant/machines/default/virtualbox/box_meta
Entregable Kubernetes/Vagrant/.vagrant/machines/default/virtualbox/creator_uid
Entregable Kubernetes/Vagrant/.vagrant/rgloader/loader.rb
Entregable Kubernetes/Vagrant/.vagrant/machines/default/virtualbox/synced_folders
Entregable Kubernetes/Vagrant/.vagrant/machines/default/virtualbox/vagrant_cwd
Entregable Kubernetes/Vagrant/.vagrant/machines/default/virtualbox/private_key
Entregable Kubernetes/Vagrant/.vagrant/machines/default/virtualbox/index_uuid
Entregable Kubernetes/Vagrant/.vagrant/machines/default/virtualbox/id
